.unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #E6E6E6;
  padding: 15px 20px;
  border-radius: 15px;
  font-size: 20px;
}

.unit__name {
  font-weight: 500;
}

.unit__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.action {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #e31759;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}