.layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
  background-color: #0D0D0D;
  color: #ffffff;
  @media screen and (max-width: 600px) {
      min-height: 100vh;
  }
}

.layout_light {
  background-color: #F3F3F3;
  color: #000000;
}

.container {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 30px;
  width: 80%;
  min-height: 70vh;
}

.team {
  color: #666666;
  font-size: 32px;
}