.groups {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.groups__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.groups__header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__column {
  font-weight: 400;
  font-size: 20px;
  width: 30%;
}